<a href="/">GO ALL THE WAY BACCCCCK</a>
<div class="container">
  <h1>Shoe Love</h1>
  <h3>Add Stores</h3>
  <!-- action posts it to home -->
  <form action="/" method="post">
    <label for="store_name">Store Name</label>
    <input type="text" name="store_name">
    <button type="submit" class="btn-primary">Add</button>
  </form>

  </div>
