<div class="container">
  <a href="/">GO ALL THE WAY BAACKKU</a>
  <div class="row">
    <h1>Shoe Love</h1>
    <h3>Brand: <%= @brand.name %></h3>
    <h4>Unit price: $<%= @brand.price %> </h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Edit store</h4>
      <form action="/brands/<%= @brand.id %>/edit" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="brand_name">Edit brand name</label>
        <input type="text" name="brand_name">
        <button type="submit" class="btn">Update Name</button>
      </form>
      <form action="/brands/<%= @brand.id %>/edit" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn-danger">DELETE</button>
      </form>
    </div>
  </div>
</div>
